// mixins:
@mixin size ($ancho, $alto, $espaciado) {
    width: $ancho;
    height: $alto;
    margin: $espaciado;
}

// operaciones:
$spacing: 1%;

// variables:
$color-marca:#666666; 
$border: solid 2px #b8b6b67e;

// imports:
@import "juegos";
@import "moda-m";


