*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    
}
 

.seccion{
    width: 100%;
    text-align: start;
    padding-left: 22rem;
    padding-top: 2rem;
   

    .ropa{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (4);
    }
 
   
.tarjeta2{
    
    width: 284px;
    height: 500px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 3rem;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.precios{
    border-top: solid 2px #b8b6b67e;
    padding: 2rem;
    font-size: 24px;
    text-align: start;
}
.descuentos{
    color: #00a650;
    font-size: 14px;
    text-align: right;
}

.descripcion{
    font-size: 14px;
    color: #333333;
}

.tarjeta2:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.titulo{
    width: 100%;
    background-color: #00a650;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

}

